name: Testes de integração
on:
  push: 
    branches: 
     - main


jobs:
  unit-tests: 
    name: Executa testes
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version:
          - "3.13"
    env:
      UV_PYTHON: ${{ matrix.python-version }}
      DATABASE_USER: "stub"
      DATABASE_PASSWORD: "stub"
      DATABASE_NAME: "stub"
      JWT_EXPIRATION_TIME: 1
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
    steps:
    - uses: actions/checkout@v4

    - name: Setup uv
      uses: astral-sh/setup-uv@v5
      with:
          version: "0.5.13"
          enable-cache: true
          cache-dependency-glob: |
            uv.lock

    - run: uv sync --all-extras --group dev
    - run: uv run pytest

